@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(47, 85, 253);
}

.corpo{
    height: 300px;
    width: 800px;
    border-radius: 10px;
    margin: auto;
}


.corpo h1{
    margin-top: 100px;
    text-align: center;
    padding-bottom: 20px;
    color: white;
    font-weight: 900;
}

#tarefa{
    outline: none;
}

.corpo label{
    padding-left: 30vh;
    color: white;
    font-weight: 500;
}

.corpo input{
    border: none;
}

.corpo button{
    border: none;
    padding: 10px;
    margin-top: 20px;
    margin-left: 29vh;
    width: 250px;
    cursor: pointer;
    border-radius: 10px;
}

.corpo button:hover{
    color: rgb(47, 85, 253);
    font-size: 13px;
    transition: 0.5s;
    font-weight: 700;
    border-radius: 10px;
}

fieldset{
    margin-top: 20px;
    width: 500px;
    margin-left: 15vh;
    background-color: rgb(32, 32, 32);
    color: white;
    border-radius: 10px;
}

fieldset legend{
    color: white;
    font-weight: 500;
    text-align: center;
}

fieldset ul li{
    padding-left: 15px;
    padding-bottom: 10px;
}

footer p{
    text-align: center;
    margin-top: 10px;
    color: white;
}